.container-main {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
     margin: 15px;
    float: none;
    margin-bottom: 10px;
    height:  380px;;
    width: 90%
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.btn-primary {
  margin-top: 13%;
  color: #000 !important;
  width: 109px;
  height: 33px;
  font-size: 19px;
  background-color: #387cbd !important;
  border-color: #387cbd !important;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-size {
 width: 147px;
height: 50px;
font-size: 35px;
}

.btn-primary:hover {
  color: #000;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
}


.align-content{
   margin-top: 28px;
    display: flex;
    justify-content: space-around;
}
.card-title2{
    font-size: 30px;
    
}
.card-title3{
    font-size: 30px;  
}

.card-title {
  font-size: 50px 
}
.width-placeholder{
  width: 80%;
}

.width-alignment{
  width: 38%;
}
.font-size-placeholder{
  font-size: 30px !important;
  
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
    font-weight: bold;
  }
  .card-title {
 font-size: 25px;
}
  .card {
    height: 250px;   
  }  
  .card-title2{
    font-size: 16px;
    font-weight: bold;    
}
.card-title3{
    font-size: 16px;  
    font-weight: bold;
}
  .btn-primary {
    width: 89px;
    height: 30px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
  }
  .font-size-placeholder{
   font-size: 16px !important;
    font-weight: bold;
}
.width-alignment{
  width: 40%;
}
}
