.logo {
  margin-top: 10%;
  display: absolute;
}

.bill_text {
  font-size: 24px;
}

.logo > .bill {
  width: 266px;
  height: 229px;
  border-radius: 50%;
  border: 2px solid #000;
  background: transparent;
  font-size: 81px;
}
.h2 {
  font-size: 14px;
}
.home_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  margin-top: 13%;
  color: #000;
  width: 135px;
  height: 50px;
  font-size: 22px;
}

.btn-primary:hover {
  color: #000;
}

@media only screen and (max-width: 600px) {
  .logo {
    margin-top: 117px;
  }
  h2 {
    font-size: 16px;
    padding-top: 4px;
    font-weight: 600;
  }
  .btn-primary {
    margin-top: 27%;
    font-size: 13px;
    width: 81px;
    height: 34px;
  }

  body {
    font-size: 14px;
  }
  .logo > .bill {
    width: 178px;
    height: 151px;
    font-size: 46px;
  }
}
.button-size {
  width: 145px;
}
