.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-control{
    width: 300px;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.btn-info {
  margin: 10px;
  color: #000;
  background-color: #007bff;
  border-color: #007bff;
}
.no-product {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
