.btn-primary {
  margin-top: 10%;
  color: #000 !important;
  width: 109px;
  height: 33px;
  font-size: 19px;
  background-color: #387cbd !important;
  border-color: #387cbd !important;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-size {
  width: 197px;
  height: 44px;
  font-size: 31px;
}

.btn-primary:hover {
  color: #000;
}

.button-container {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
}