html,
body {
  height: 100%;
  background: linear-gradient(
    90deg,
    rgb(163 181 239) 0%,
    rgb(171 130 243) 35%,
    rgba(242, 172, 198, 1) 100%
  );
  font-family: "Times New Roman";
  font-size: 16px;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 280px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.card-header h3 {
  color: #000;
}

.input-group-prepend span {
  width: 50px;
  background-color: rgba(152, 209, 253, 1);
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: #000;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: #000;
  background-color: rgba(152, 209, 253, 1);
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.login_btn:hover {
  background-color: rgb(136 191 233);
}

a {
  color: #e8d1ff !important;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .card {
    height: 250px;
    width: 300px;
  }
  .login_btn {
    width: 78px;
    height: 27px;
    font-size: 11px;
  }
}
